# Utilities
click
tqdm
urllib3
marshmallow
cached_property
pycurl

# Data definition
experimaestro>=0.6.0

# Mkdocs
mkdocs
pymdown-extensions
mkdocs-material
docstring_parser

# For numerical things
numpy
