# Utilities
click
tqdm
urllib3
marshmallow
cached_property
requests

# To read sizes like 2.3MB
bitmath

# Experimaestro for data definitions
experimaestro>=1.8.9

# Mkdocs
mkdocs
pymdown-extensions
mkdocs-material
docstring_parser

# For numerical things
numpy
