# Utilities
click
tqdm
urllib3
marshmallow
cached_property
requests

# To read sizes like 2.3MB
bitmath

# Data definition
experimaestro>=0.7.2

# Mkdocs
mkdocs
pymdown-extensions
mkdocs-material
docstring_parser

# For numerical things
numpy
